### IDE ###

# JetBrains
.idea
# VS Code
.vscode

### Python ###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing
.coverage
coverage*

# Distribution / packaging
dist/
eggs/
.eggs/
*.egg-info/
*.egg

/poetry.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/